.containerInventory{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    height: var(--container-height);
    border-radius: var(--border-radius);
    background-color: var(--background-widget);
}

.containerInventory h2 {
    display: flex;
    padding-top: 0;
    margin: 0;
    height: 100%;
}

.containerInventory .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    padding-left: 10px;
    box-sizing: border-box;
}

.containerInventory .table__container{
    height: 90%;
    margin: 0;
}


.productFocus{

    width: 100%;
    height: var(--container-height);
    display: flex;
    gap: 20px;

}

@media (max-width: 768px) {
    
    /* ---productFocus */
    .productFocus{
        flex-direction: column;
        overflow: scroll;
        height: auto;
        display: block;
    }

    .productFocus .containerProduct{
        flex-direction: column;
        overflow: scroll;
        height: auto;
        display: block;
    }

    .productFocus .productFormContainer{
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .productFocus .product_right{
        width: 100%;
        height: auto;
    }

    .productFocus .containerPreview{
        height: 300px;
    }

    .productFocus .product_options{
        height: auto;
    }
}