.containerLogs{
    width: 100%;
    height: var(--container-height);
    border-radius: var(--border-radius);
    background-color: var(--background-widget);
    box-shadow: var(--box-shadow);
}


.logs{
    width: 90%;
    height: 82%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: auto;
    padding: 1vh;
    border-radius: var(--border-radius);
    border: var(--third-color) solid 1px;
    background-color: var(--background-color);
}
