
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr;
    grid-gap: 3vh;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.welcome-banner{
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 5px;
    box-shadow: var(--box-shadow);
    box-sizing: border-box;
    border-radius: var(--border-radius);
    background: var(--hero-svg);
    background-color: var(--background-widget);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
    .title-banner{
        display: flex;
        margin-top: 100px;
        margin-left: 18px;
        font-size: 1.5rem;
    }

    .welcome-banner span{
        font-size: 0.8rem;
        align-self: flex-end;
        margin-top: auto;
    }

.content-overview{
    display: grid;
    grid-gap: 3vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
}
    .visitors-widget{
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius);
        background-color: var(--background-widget);
    }
        .visitors-widget h2, span{
            text-align: center;
        }

    .connected-widget{
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        border-radius: var(--border-radius);
        background-color: var(--third-color);
        box-shadow: var(--box-shadow);
    }
        .connected-widget h2, span{
            text-align: center;
        }



    .logger-widget{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius);
        background-color: var(--third-color);
        display: flex;
    }
    .other-widget{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius);
        background-color: var(--background-widget);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
        .other-widget h2{
            text-align: center;
        }
    .other2-widget{
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius);
        background-color: var(--background-widget-secondary);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
        .other2-widget h2{
            text-align: center;
        }


.task-widget{
    display: flex;
    flex-direction: column;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    box-sizing: border-box;

}

    .task-widget__container{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        
        height: 100%;
        width: 100%;
        margin: auto;
        gap: 20px;
    }
        .task-widget__container-top{
            height: 50%;
            max-height: 50%;
            width: 100%;
            box-shadow: var(--box-shadow);
            border-radius: var(--border-radius);
            background-color: var(--background-widget);
            overflow: hidden;

        }



        .task-widget__container-bottom{
            height: 50%;
            box-sizing: border-box;
            overflow: auto;
        }
        .task-widget__container-bottom-empty{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: var(--border-radius);
            box-sizing: border-box;
            height: 100%;
            border: var(--background-widget) 3px solid;;
        }




