.sidebar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background-color: var(--background-widget);
    overflow: hidden;
}

.top-separation{
    width: 80%;
    margin: 95px auto 30px auto;
    height: 2px;
    background-color: var(--third-color);

}

.navList{
    display: flex;
    flex-direction: column;
}

.NavItem{
    display: flex;
    padding-left: 1vw;
    width: 100%;
    height: 3.5em;
    font-size: 0.8em;
    cursor: pointer;
    margin-bottom: 0.8vh;
}
    .NavItem:hover{
        background-color: var(--background-widget-secondary);
    }
    .title{
        height: 1rem;
        align-self: center;
    }

.focused{
    background-color: var(--background-widget-secondary);
}

.line-separation{
    width: 80%;
    margin: auto auto 30px;
    height: 2px;
    background-color: var(--third-color);

}
.settings{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

