.sidebar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background-color: var(--background-widget);
    box-sizing: border-box;
    overflow: hidden;
}

.sideBoxClosed{
    width: 8vw;
}

.sidebar .blankSpace{
    min-height: 12vh;
    display: flex;
    justify-content: center;
}

.top-separation{
    width: 80%;
    height: 2px;
    margin: 0 auto 3vh;
    background-color: var(--third-color);
}

.navList{
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    height: 100%;
}

.NavItem{
    display: flex;
    width: 100%;
    height: 7vh;
    font-size: 0.8em;
    justify-content: left;
    cursor: pointer;
    padding-left: 10px;
    transition: justify-content 0.3s linear;
}
#navItem-title{
    animation: fadeIn 0.4s linear;
}
.navItemSideBarClose{
    transition: justify-content 0.3s linear;
    padding-left: 0;
    justify-content: center;
}
    .NavItem:hover{
        background-color: var(--background-widget-secondary);
    }
    .title{
        height: 1rem;
        align-self: center;
    }

.focused{
    background-color: var(--background-color);
}

.line-separation{
    width: 80%;
    margin: 3vh auto 3vh;
    height: 2px;
    background-color: var(--third-color);

}
.settings{
    flex-direction: column;
    display: flex;
}


@media screen and (max-width: 768px) {
    .sidebar .blankSpace{
        display: none;

    }

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}