.containerTasks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 35px;
    box-sizing: border-box;

}

.tasks{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    gap:20px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: var(--border-radius);
    background-color: var(--background-widget);
    box-shadow: var(--box-shadow);
}

.tasks__header{
    display: flex;
    width: 100%;
    height: 10%;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
}

.tasks .table__container{
    width: 100%;
    height: 90%;
    justify-self: flex-end;
    margin: 0;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tasks-edit{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
    width: 40%;
    height: 100%;
    align-self: start;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: var(--border-radius);
    background-color: var(--background-widget);
    box-shadow: var(--box-shadow);
}

@media screen and (max-width: 768px) {

    .containerTasks{
        overflow: auto;
        height: auto;
        flex-direction: column;
    }
    .tasks-content{
        flex-direction: column;
        gap: 20px;
        height: fit-content;
        box-sizing: border-box;
    }
    .tasks{
        width: 100%;
        min-height: 70vh;
    }

    .tasks-edit{
        width: 100%;
        min-height: 90vh;
    }

}